@model WebApplication1.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}

<div class="container">
    <h2>Checkout</h2>
    
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    @using (Html.BeginForm("ProcessOrder", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order Summary</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td>@item.Book.Title</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Book.Price.ToString("C")</td>
                                        <td>@((item.Quantity * item.Book.Price).ToString("C"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shipping Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.InStorePickup) In-Store Pickup
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="shipping-address-fields">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingAddress, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.ShippingAddress, new { @class = "form-control", rows = 3 })
                                    @Html.ValidationMessageFor(m => m.ShippingAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingCity, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.ShippingCity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ShippingCity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingProvince, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.ShippingProvince, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ShippingProvince, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingPostalCode, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.ShippingPostalCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ShippingPostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payment Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentMethod, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.PaymentMethod, 
                                    new SelectList(new[] { "Credit Card", "Debit Card", "PayPal", "Bank Transfer" }), 
                                    "-- Select Payment Method --", 
                                    new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PaymentMethod, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Notes, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = 3 })
                                @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order Total</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6"><strong>Subtotal:</strong></div>
                            <div class="col-xs-6 text-right">@Model.TotalAmount.ToString("C")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"><strong>Shipping:</strong></div>
                            <div class="col-xs-6 text-right">Free</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-6"><strong>Total:</strong></div>
                            <div class="col-xs-6 text-right"><strong>@Model.TotalAmount.ToString("C")</strong></div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success btn-block btn-lg">
                            <i class="glyphicon glyphicon-ok"></i> Place Order
                        </button>
                        <a href="@Url.Action("Index", "Cart")" class="btn btn-default btn-block">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            function toggleShippingFields() {
                if ($('#InStorePickup').is(':checked')) {
                    $('#shipping-address-fields').hide();
                } else {
                    $('#shipping-address-fields').show();
                }
            }

            // Initial check
            toggleShippingFields();

            // Toggle when checkbox changes
            $('#InStorePickup').change(function () {
                toggleShippingFields();
            });
        });
    </script>
}